.container {
  border: 2px solid lightgray;
  border-radius: 5%;
  font-family: "Sunflower", sans-serif;
}

.header-padding {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Sunflower", sans-serif;
}
